</div><!-- /.container -->
<br><br><br>
<hr>
<p class="text-center">&copy; Thanhjs</p>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
